<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MenuPage</title>
    <link rel="stylesheet" href="/cssFiles/menu.css" />
    <!-- <script type="text/javascript" src="/jsFiles/menu.js"></script> -->
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <h1 class="box1">MENU</h1>

      <section class="menu-section">
        <h2>COFFEE & TEAS</h2>
        <div class="cards">
          <div class="card col">
            <img src="/images/coffee.jpg" alt="Coffee" />
            <p class="tip">Cappuccino</p>
            
          </div>

          <div class="card col">
            <img src="/images/espresso.jpg" alt="espresso" />
            <p class="tip">Espresso</p>
                  
            
          </div>

          <div class="card col">
            <img src="/images/lattee.jpg" alt="Latte" />
            <p class="tip">Latte</p>
           
          </div>

          <div class="card col">
            <img src="/images/Americano.jpeg" alt="Americano" />
            <p class="tip">Americano</p>
           
          </div>

          <div class="card col">
            <img src="/images/lemon-tea.jpg" alt="Tea" />
            <p class="tip">Lemon Tea</p>
           
          </div>

          <div class="card col">
            <img src="/images/tea.jpg" alt="Tea" />
            <p class="tip">Tea</p>
           
          </div>
        </div>
      </section>
      <br /><br />

      <section class="menu-section">
        <h2>DESSERTS</h2>
        <div class="cards">
          <div class="card col">
            <img src="/images/Brownie.jpeg" alt="brownie" />
            <p class="tip">Choco Brownie</p>
           
          </div>

          <div class="card col">
            <img src="/images/ChocolateCupcakes.jpg" alt="Cupcakes" />
            <p class="tip">Choco Cupcake</p>
           
          </div>

          <div class="card col">
            <img src="/images/strawberrymoose.jpg" alt="Strawberry Mousse" />
            <p class="tip">Strawberry Mousse</p>
           
          </div>

          <div class="card col">
            <img src="/images/blueberrycheesecake.jpg" alt=" blueberry cheesecake" />
            <p class="tip">blueberry cheesecake</p>
           
          </div>

          <div class="card col">
            <img src="/images/Fruittarts.jpg" alt="Fruit Tart" />
            <p class="tip">Fruit Tart</p>
           
          </div>

          <div class="card col">
            <img src="/images/TiramisuTrifle.jpg" alt="Tiramisu Trifle" />
            <p class="tip">Tiramisu Trifle</p>
           
          </div>
        </div>
      </section>
      <br /><br />

      <section class="menu-section">
        <h2>QUICK BITES</h2>
        <div class="cards">
          <div class="card col">
            <img src="/images/Chocolate Croissants.png" alt="Croissants" />
            <p class="tip">Choco Croissants</p>
           
          </div>

          <div class="card col">
            <img src="/images/muffin.jpg" alt="muffin" />
            <p class="tip">Blueberry Muffin</p>
           
          </div>

          <div class="card col">
            <img src="/images/fench-toast.jpg" alt="french toast" />
            <p class="tip">French Toast</p>
           
          </div>

          <div class="card col">
            <img src="/images/Air-Fryer-Garlic-Bread-Featured.jpg" alt="Garlicbread" />
            <p class="tip">Garlic Bread</p>
           
          </div>

          <div class="card col">
            <img src="/images/cherry-scones-recipe-7-500x500.jpg" alt="Scones" />
            <p class="tip">Cherry Scones</p>
           
          </div>

          <div class="card col">
            <img src="/images/frenchfries.jpg" alt="frenchfries" />
            <p class="tip">French Fries</p>
           
          </div>
        </div>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
