<script
      src="https://kit.fontawesome.com/3a87439f5c.js"
      crossorigin="anonymous"></script>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
  </style>
</head>


<footer>
    <div class="footer-container">
      <div class="footer-section">
        Payment Options<br /><br />
        <div class="payment-flex">
          <img src="images/paytm-icon.svg" class="paytm-icon" />
          <img src="images/phonepe-icon.svg" class="paytm-icon" />
          <img src="images/googlepay-icon.svg" class="paytm-icon" />
        </div>
      </div>
      <div class="footer-section">
        Contact Us<br /><br />
        +91 6788627683<br />
        +91 8816352980<br />
        contactus@cafecaloroso.in<br /><br />
        Find Us at:<br />
        <br />
        Kambli Wadi, Tejpal Road,<br />
        Opp Rly Stn, Vile Parle,<br />
        Bangalore
      </div>
      <div class="footer-section">
        <a href="/home">HOME</a><br />
        <a href="/aboutus">OUR STORY</a><br />
        <a href="/menu">MENU</a><br />
        <a href="/pomo">POMODORO</a><br />
        <a href="/contactus">CONTACT US</a><br />
        <a href="/reserve">RESERVE TABLE</a><br />
        <a href="/login">LOGIN</a><br />
      </div>
    </div>
    <hr />
    <div class="footer-bottom">
      <span>
        ©2024 Café Caloroso | All Rights Reserved | Powered by PESU</span
      >
      <div class="footer-icons">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin-in"></a>
      </div>
    </div>
  </footer>