<style>
  @import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
</style>
</head>
<style>
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
</style>

<link rel="stylesheet" href="/cssFiles/partials.css">
<script type="text/javascript" src="/jsFiles/home.js"></script>

<div class="header">
  <a href="/">
    <img id="logo" src="images/logo-withoutBG.png" alt="logo" />
  </a>
  <a href="/about" class="header-link">Our Story</a>
  <a href="/menu" class="header-link">Menu</a>
  <a href="/pomo" class="header-link">Pomodoro</a>
  <a href="/review" class="header-link">Reviews</a>
  <a href="/reserve" class="header-link">Reserve Table</a>
  <a href="/contactus" class="header-link">Contact Us</a>
  <button class="btn-style"><a class="btn-style" href="/login">Login</a></button>
</div>
